<!DOCTYPE html>
<html>

<head>
    {{.headerTags}}
    <title>{{.title}}</title>
</head>

<body>
    <main>
        <div class="welcome">
            <h1>About</h1>
            <p>The <b><a href="/" alt="welcome">TEMP0RAL@WORLD</a></b> is a brisk attempt at rewritting the now defunct <b><a href="https://mebious.co.uk/"
                        alt="OG mebi">mebious.co.uk</a></b>
                in Golang.</p>
            <a href="/"><img src="/static/logo8.jpg" alt="laincore" style="max-width: 40%;height: auto;"></a>
        </div>
        {{.foot}}
    </main>
</body>

</html>