<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link rel="icon" href="/favicon.ico">
    <meta name="description" content="Echo into the wired.">
    <meta name="keywords"
        content="anonymous,chan,textboard,text board,text-board,message board, messageboard, message-board">

    <title>TEST PAGE</title>
</head>

<body>
    <main>
        <h1>Woah there!</h1>
        <p>Slow down!</p>
        <p>Please wait {{.RemainingTime}} before making another request.</p>
    </main>
</body>

</html>