<!DOCTYPE html>
<html>

<head>
    {{.headerTags}}
    <title>{{.title}}</title>
</head>

<body>
    <main>
        <div class="welcome">
            <p><b>Email:</b></p>
            <span>TEMP0RAL@WORLD at fedora dot email</span>
            <br><a href="/"><img src="/static/logo8.jpg" alt="laincore" style="max-width: 40%;height: auto;"></a>
            <p><b><a href="/static/xmr.png">XMR (press for QR)</a></b></a>:</b></p>
            <span
                style="overflow-wrap: break-word;">47kHnKPhe7Fbu7UpjUv4mkW88z7QWdnd7iQdAeirDAMuT5Xe1AvcHAKjn5V3Ndd8M932NPevBxyym9nekFJiXKcz3QbCz8o</span>
            <br><br>
        </div>
        {{.foot}}
    </main>
</body>

</html>